[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
python-dotenv = "*"
td-ameritrade-python-api = "*"
pytz = "*"
types-pytz = "*"
pandas = "*"
tables = "*"

[dev-packages]
bandit = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
